@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


html,
body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    font-family: 'Roboto', sans-serif;
    margin: 0px auto;
    box-sizing: border-box;


}


header {
    max-height: 873px;
}

.main_head {
    background: url('img/background_header.jpg') fixed;
    background-size: 100%;
}

.head_mark {
    background: url('img/background_head_mark.jpg') fixed;
    background-size: 100%;
}

.head_skan {
    background: url('img/scan_background.jpg') fixed;
    background-size: 100%;
}

.help_head {
    background: url('img/background_help_head.jpg') fixed;
    background-size: 100%;
}
.login_head {
    background: url('img/background_log_in.jpg') fixed;
    background-size: 100%;
}

.head {
    margin: 0px;
    padding: 0px 155px 0px 60px;
    display: flex;
    justify-content: space-between;
}

.head a {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.logo {
    padding: 52px 0px;
    margin: 0px;
}

.desktop-menu ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 425px;
    padding: 54px 0px 79px;
    margin: 0px;
}

.log_in {
    margin: 0px;
    padding: 54px 0px 79px;
}

header h1 {
    font-weight: 700;
    font-size: 86px;
    line-height: 104px;
    letter-spacing: 0.01em;
    color: #F2F2F2;
    margin: 0px;
    padding: 0px 174px 102px;
}

.supply_order {
    margin: 0px;
    padding: 0px 174px;
    display: flex;

}

.supply_order a {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #F0EAEA;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
}

.supply {
    margin: 0px;
    padding: 28px 88px 0px 0px;
}

.order {
    margin: 0px;
    padding: 28px 68px 0px 0px;
}

.subbly_border {
    width: 74px;
    opacity: 0.4;
    border-bottom: 1px solid #FFF8F8;
    transform: rotate(90deg);
}

.arroy_buttton {
    padding: 10px 0px 0px;

}

.info_head {
    display: flex;
    justify-content: space-between;
}

.what_is_it {
    width: 335px;
    margin: 0px 0px 0px 166px;
    padding: 0px;
}

.border_head {
    width: 335px;
    height: 2px;
    background: #ECEDED;
    opacity: 0.5;
}

.android_app_head {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #B8BABB;
    text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.what_is_it p {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #ECEDED;
    text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    margin: 0px;
    padding: 30px 0px;
}

.trumps {
    display: flex;
    justify-content: right;
    padding: 156px 0px 0px;
}

.trump_questions {
    display: flex;
    justify-content: right;
}

.trump_servis {
    padding: 23px 96px 37px;
    background: #FFFFFF;
}

.trump_servis_info {
    max-width: 497px;
    padding: 52px 96px 75px 72px;
    background: #FFFFFF;
}

.trump_servis h5 {
    font-weight: 700;
    font-size: 16px;
    line-height: 36px;
    color: #13181E;
    padding: 0px;
    margin: 0px;
}

h4 {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #13181E;
    padding: 0px;
    margin: 0px;
}

.trump_servis p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #717578;
    padding: 6px 0px 0px;
    margin: 0px;
}

.for_what {
    margin: 0px;
    padding: 0px;
}

.for_what_info {
    display: flex;
    justify-content: space-between;
}

h3 {
    font-weight: 700;
    font-size: 34px;
    line-height: 48px;
    color: #13181E;
    padding: 0px;
    margin: 0px;
}

.for_what_info h4 {
    padding: 124px 0px 0px 167px;
}

.for_what_content {
    padding: 114px 153px 70px 0px;
}

.for_what p {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #13181E;
    margin: 0px;
    padding: 52px 0px;
}

.for_what a {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #13181E;
}

.app_store {
    width: 471px;
    display: flex;
    justify-content: space-between;

}

.android_app_store,
.ios_app_store {
    display: flex;
    gap: 23px;
}

.android_app_store img,
.ios_app_store img {
    margin-top: 10px;
}

.android_info>span,
.ios_info>span {
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
    padding: 0px;
}

.android_info h4,
.ios_info h4 {
    padding: 0px;
}

.android_info {
    color: #13181E;
}

.ios_info {
    color: #B8BABB;
}

.how_doing_mark {
    display: flex;
    justify-content: space-between;
}

.mistakes h3 {
    margin: 0px;
    padding: 0px 0px 0px 181px;

}

.mistake_1 {
    padding: 0px 74px 39px 181px;
    display: flex;
    justify-content: space-between;
}

.mistake_1 img {
    margin-top: 19px;
}

.mistake_2 {
    padding: 0px 183px 0px 75px;
    display: flex;
    justify-content: space-between;
}

.mistake_2_info p {
    padding: 5px 0px 52px;
}

.mistake_2_info {
    padding: 130px 0px 0px;
}

.mistake_3 {
    padding: 93px 79px 0px 331px;
    display: flex;
    justify-content: space-between;
}

.mistake_3 p {
    padding: 12px 0px 37px;
}

.mistake_3_info {
    padding: 86px 0px 0px;
}

.gas_corp {
    max-width: 349px;
    display: flex;
    justify-content: space-between;
}

.how_work_mark {
    padding: 91px 171px 113px 0px;
    display: flex;
    justify-content: space-between;
}

.how_work_mark_info h3 {
    padding: 31px 0px 92px;
}

.mark_pluses {
    width: 653px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.plus {
    width: 217px;
    padding: 0px 0px 65px;
}

.plus h4 {
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 0.01em;
    color: #13181E;
    padding: 11px 0px 16px;

}

.plus p,
.faq p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #717578;
    padding: 0px;
}

.info_security {
    display: flex;
    gap: 19.5px;
}

#color_mistake {
    color: #1655F4;
}

.needed_for_mark {
    width: 453px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 90px 0px 0px 0px;
}

.need_parth {
    width: 224px;
}

.need_parth p {
    padding: 0px 0px 80px;
}

.how_doing_mark iframe {
    padding: 0px 0px 114px 75px;
}

.how_doing_info {
    padding: 158px 175px 0px 0px;
}

.optimizacion_work {
    margin: 0px;
    padding: 163px 0px 230px;
    background: url('img/background_2_article.jpg') fixed;
    background-size: 100%;
    text-align: center;
}

.full_documents {
    margin: 0px;
    padding: 164px 0px 300px;
    background: url('img/background_scanner_2.jpg') fixed;
    background-size: 100%;
    text-align: center;
}

h2 {
    font-weight: 700;
    font-size: 64px;
    line-height: 82px;
    color: #FFFFFF;
}

.optimizacion_work p,
.full_documents p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 34px 0px 78px;
}

.optimizacion_work a,
.full_documents a {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.how_it_work {
    margin: 0px;
    padding: 114px 77px 270px 100px;
}

.imgs_laptop {
    max-width: 809px;
}

.marker_laptop,
.marker_scanner_function {
    display: flex;
}

.marker_laptop {
    justify-content: space-between;
}

.marker_scanner_function {
    gap: 25px;
}

.number {
    font-weight: 500;
    font-size: 14px;
    line-height: 36px;
    color: #13181E;
}

.function {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #13181E;
}

.marker h3 {
    margin: 0px;
    padding: 20px 0px 118px;
}

.imgs_laptop {
    padding: 50px 0px 0px;
}

#open_laptop_2,
#close_laptop {
    display: none;
}

.skanner_phone {
    display: flex;
    justify-content: space-between;
    padding: 120px 0px 179px;
}

.scanner h3 {
    padding: 102px 0px 118px;
}

.work_img_laptop h4 {
    padding-left: 67px;
}

.app_video {
    padding: 0px 0px 0px 23px;
    display: flex;
    gap: 153px;
}

.scanner_marker_video {
    max-width: 486px;
    height: 600px;
    margin: 0px;
    padding: 44px;
    border: 1px solid #ECEDED;
}

.scanner_marker_video p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 40px 0px 28px;
}

.scanner_marker_video a {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #13181E;
}

.video_1 {
    position: relative;
    top: 123px;
    left: 204px;
    z-index: 3;
    padding: 0px;
    margin: 0px;
}

.video_2 {
    position: relative;
    top: 27px;
    left: 204px;
    z-index: 3;
    padding: 0px;
    margin: 0px;
}

iframe {
    border-radius: 4px;
}

.application {
    position: relative;
}

.ask_form {
    max-width: 1092px;
    background: #F7F7F7;
    border-radius: 8px;
    display: flex;
    margin: 0px 0px 0px 348px;
    position: absolute;
    right: 0px;


}

.info_form {
    max-width: 890px;
    padding: 0px 122px 11px 118px;
    margin: 64px 0px 60px;
    border-right: 1px dashed #B8BABB;
    box-sizing: border-box;
    position: relative;
}

.login_input{
    width: 416px;
    margin: 0px;
    padding: 0px 0px 15px;
    border-bottom: 1px solid #FFFFFF;
    position: relative;

}

.search_qestion {
    width: 446px;
    padding: 0px 0px 15px;
    margin: 0px 0px 0px 174px;
    border-bottom: 1px solid #ECEDED;
    position: relative;
}

.search_form {
    display: flex;
    justify-content: space-between;
}

.form-row_email {
    display: flex;
    gap: 42px;


}

#email,
#phone {
    width: 304px;
}

.form-row_email input,
.trial_invite input {
    display: block;
    padding: 34px 0px 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #717578;
    background: none;
    border-width: 0;
    border-bottom: 1px solid #B8BABB;
    transition: all 0.2s ease;
}

.search_form input {
    width: 400px;
    display: block;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.0141em;
    color: #ECEDED;
    background: none;
    border-width: 0;
    transition: all 0.2s ease;

}

.form-row input {
    display: block;
    width: 650px;
    padding: 34px 0px 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #717578;
    background: none;
    border-width: 0;
    border-bottom: 1px solid #B8BABB;
    transition: all 0.2s ease;
}

.form-row label,
.form-row_email label,
.trial_invite label {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #717578;
    transform: translateY(-35px);
    transition: all 0.2s ease;
}

.search_form label {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.0141em;
    color: #ECEDED;
    transform: translateY(-35px);
    transition: all 0.2s ease;
}

#search_label {
    position: absolute;
    top: 34px;
}

.form-row label {
    position: absolute;
    left: 118px;
}

#email_l {
    position: absolute;
    left: 118px;
    top: 150px;
}

#phone_l {
    position: absolute;
    left: 464px;
    top: 150px;
}

.trial_invite label {
    position: absolute;
    top: 307px;
    left: 174px;
}

.form-row input:focus,
.form-row_email input:focus,
.trial_invite input:focus,
.search_qestion input:focus {
    outline: 0;
    border-color: #717578;
}

.form-row input:focus+label,
.form-row input:valid+label,
.form-row_email input:focus+label,
.form-row_email input:valid+label,
.trial_invite input:focus+label,
.trial_invite input:valid+label {
    transform: translateY(-60px);
    margin-left: -14px;
    font-size: 14px;
    font-weight: 400;
    outline: 0;
    border-color: #717578;
    color: #717578;
}

.search_form input:focus+label,
.ssearch_form input:valid+label {
    transform: translateY(-60px);
    margin-left: -14px;
    font-size: 14px;
    font-weight: 400;
    outline: 0;
    border-color: #ECEDED;
    color: #ECEDED;
}

#search_button {
    background: none;
    border: none;
    transition: all 300ms ease;
}

#search_button:hover {
    transform: scale(1.5);
}

.form_section {
    transform: rotate(90deg);
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    white-space: nowrap;
    color: #B8BABB;
    width: 263px;
    height: 30px;
    position: relative;
    top: 236px;
    left: -72px;
}

.form_check {
    padding: 53px 0px 62px;
}

.form_check label {
    padding: 0px 0px 0px 19px;
}

.main_mail {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #13181E;
    padding: 0px 0px 16px;
}

.dop_mail {
    font-weight: 400;
    font-size: 13px;
    line-height: 36px;
    color: #717578;
    padding-left: 43px;
}

.info_form input[type="submit"] {
    width: 306px;
    height: 62px;
    background: #F7F7F7;
    box-shadow: 10px 15px 30px rgba(16, 17, 18, 0.08), -12px -10px 20px #FFFFFF, inset 1px -5px 12px rgba(255, 255, 255, 0.3);
    border-radius: 36px;
    font-weight: 700;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #13181E;
    border: #F7F7F7;

}

.info_form p {
    text-align: center;
}

.important {
    color: red;
}

.invite_form {
    max-width: 1265px;
    height: 1000px;
    background: #1A1E23;
}

.invite_info {
    display: flex;
    justify-content: space-between;
}

.invite_info h3 {
    color: #ECEDED;
    padding: 89px 61px 75px 0px;
}

.invite_info h4 {
    color: #ECEDED;
    padding: 97px 0px 0px 167px;
}

footer {
    margin: 0px;
    padding: 0px;
    display: flex;
}

.foot_menu {
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
}

.foot_menu li {
    list-style: none;
    padding: 24px 0px;
    margin: 0px;
}

.foot_menu ul {
    padding: 0px;
    margin: 0px;
}

.foot_menu li>a {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #13181E;
    text-decoration: none;
}

.menu_list,
.menu_over_list {
    padding: 45px 73px;
}

.menu_over_list ul {
    display: flex;
    gap: 42px;
}

.trial_invite {
    padding: 76px 175px;
    white-space: nowrap;
    position: relative;
}

.trial_invite p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #717578;
    padding: 23px 0px;
}

.easy_form {
    display: flex;
}

.trial_invite button {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 270px;
    right: 165px;
}

.understand_all {
    padding: 0px 187px 104px 0px;
    display: flex;
}

.understand_info {
    padding: 188px 0px 0px;
}

.fixed_problems {
    padding: 0px 0px 81px 167px;

}

.fixed_info {
    padding: 0px 74px 64px 0px;
    display: flex;
    justify-content: space-between;
}

.buttom_swipe {
    padding: 30px 0px 0px;
}

.promlem {
    width: 274px;
    height: 191px;
    background: #FFFFFF;
    box-shadow: -2px 10px 10px rgba(0, 0, 0, 0.08);
    padding: 23px 0px 0px 16px;
}

.promlem span {
    padding: 11px 0px 0px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #13181E;
}

.tarrif_head {
    margin: 0px;
    padding: 114px 146px 87px 75px;
    display: flex;
    justify-content: space-between;
}

.tarrif_head h4 {
    padding-top: 14px;
}

.tarrif_month_or_year ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 223px;
}

.tarrif_month_or_year p {
    font-weight: 400;
    font-size: 18px;
    line-height: 36px;
    color: #000000;
    margin: 0px;
}

.styled_checkbox {
    display: inline-block;
    position: relative;
    cursor: pointer;
}


.styled_checkbox input {
    visibility: hidden;
    width: 0px;
    height: 0px;
    position: absolute;
    top: 0;
}

.styled_checkbox {
    background-color: #ECEDED;
    border: 2px solid #ECEDED;
    border-radius: 18px;
    width: 58px;
    height: 29px;
    box-sizing: border-box;
}

.styled_checkbox:hover {
    background-color: #b4b8b8;
    border-color: #b4b8b8;
}

.styled_checkbox_button {
    position: absolute;
    transition: all 300ms;
    left: 0;
    transform: translateX(0);
    background: #1655F4;
    border-radius: 16px;
    height: 100%;
    width: 23px;
}

.styled_checkbox input:checked+.styled_checkbox_button {
    left: 100%;
    transform: translateX(-100%);
}

.tarrif_board {
    padding: 0px 70px 82px 75px;
    border-bottom: 1px solid #C4C4C4;
    display: flex;
    justify-content: space-between;
}

.tarrif {

    border: 1px solid #ECEDED;
    padding: 50px 25px 45px 21px;
}

.tarrif a {
    text-decoration: none;
    color: inherit;
}

.tarrif_name {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #13181E;
}

.tarrif p {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #717578;
    margin: 0px;
    padding: 4px 0px 25px;
}

.tarrif_price_head {
    padding: 0px 0px 20px 19px;
}

.tarrif_price {
    font-weight: 700;
    font-size: 64px;
    line-height: 54px;
    color: #13181E;
}

.tarrif_info {
    margin: 0px;
    padding: 18px 0px 0px;
    border-top: 1px solid #ECEDED;
}

.tarrif_info li {
    list-style: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    padding: 7px 0px;
}

.tarrif_info ul {
    margin: 0px;
    padding: 0px;
}

.tarrif_info i {
    color: #1655F4;
    padding: 0px 25px 0px 0px;
    font-size: 1.3em;
}

.close_function {
    margin: 18px 0px 0px;
    color: #B8BABB;
}

.close_function i {
    color: #B8BABB;
}

.qestion_head p {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #B8BABB;
    padding: 0px 0px 100px 174px;
    margin: 0px;
}

.help_head h1 {
    padding-bottom: 35px;
}

.faq_all {
    padding: 46px 157px 0px 75px;
}
.faq_all h3 {
    padding: 0px 0px 33px;
}
.fag_name {
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 16px;
}

.faq {
    padding: 44px 0px;
}

.border_faq {
    padding: 0px;
    margin: 0px;
    border-top: 1px solid #DCDCDD;
}

.log_in_page {
    padding: 0px 207px 0px 171px;
    display: flex;
    justify-content: space-between;
}

.login h1 {
    padding: 0px;
}